[Unit]
Description=Sentinel
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python /home/pi/sentinel/sentinel.py --env=prod

[Install]
WantedBy=multi-user.target
